body{
    background-color: mediumaquamarine;
    padding: 20px;
}

.container, .container-fluid{
    background-color:white;
    padding: 10px;
}

#cimsor{
    background-color: rgb(146, 169, 236);
    /*width: 80%;*/
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

a:link{
    text-decoration: none;
    color: red;
}

.keret{
    border: 2px solid red;
    text-align: center;
}
img{
    display: block;
    margin : auto;
}
h4{
    color: purple;
    text-align: center;
}